.form-main {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: calc(100% - 86px);
  .table {
    font-family: "Roboto", sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
    .head-tr {
      height: 25px;
      border-bottom: 1px solid rgb(221, 221, 221);
      th {
        padding: 15px;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
    .body-tr {
      border-bottom: 1px solid #dddd;
      td {
        padding: 15px;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.price-box {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-family: "Roboto", sans-serif;
}
