.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .form-logo {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
  }
}
