.mainBtn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  > button {
    padding: 15px 20px;
    background-color: transparent;
    border: 2px solid rgba(58, 94, 251, 0.986);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    &:hover {
      border: 1px solid rgba(58, 94, 251, 0.986);
    }
  }
}
